*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
.header{
    background-color: rgb(96, 141, 238);
    height:265px;
    padding-top: 20px;
    
}
.container{
    max-width: 1170px;
    width: 80%;
    margin: auto;
    padding: 1rem;
    
}

.row-prima, .row-seconda{
    display: flex;
    max-width: 1170px;
    width: 100%;
    margin: auto;
}

.col-2{
    width: 20%;
    background-color: rgb(159, 50, 66);
    padding: 1rem;


}
.col-8{
    width: 60%;
    background-color: rgb(229, 23, 54);
    padding: 1rem;


}
/* Fine Header */

/* Banner */
.banner{
    background-color: rgb(121, 121, 192);
    height: 300px;
    padding-top: 50px;
    
}
.row-seconda{
    width: 80%;
    height: 150px;
    max-width: 1170px;
    margin: auto;
    background-color: rgb(167, 31, 31);
    

}
/* Fine Banner */

/* Sezioni */
.container{
background-color: orange;
min-height: 300px;

}
.row{
background-color: burlywood;
width:90%;
height:160px;
margin:auto;
display: flex;

}
.col-60{
background-color: aquamarine;
height: 160px;
width:150%;

}
.col-40{
 background-color: aquamarine;
 width: 80%;
 height: 160px;
}
.card{
background-color: rgb(26, 26, 211);
height:140px;
width:80%;
}
.flex-container{
background-color: orange;
min-height: 300px;
margin: auto;
width: 80%;
}
#vuoto{
    margin: 1px solid black;
    width: 90%;
    height: 250px;
    margin: auto;
    background-color: black;
}

footer{
    background-color: blue;
    min-height: 300px;
    display: flex;
}
.col-foo4{
    background-color: aqua;
    width: 30%;
    height: 200px;
}
.cool-foot2{
    background-color: aqua;
    width: 17.5%;
    height: 200px;
}
.footer-sopra{
    background-color: grey;
    display: flex;
    height: 300px;
    width: 80%;
    margin: auto;
    padding-top: 50px;
}
.footer-sotto{
    background-color: grey;
    display: flex;
    height: 100px;
    width: 80%;
    margin: auto;
    padding-top: 30px;
    justify-content: space-between;
}






